<section>
    <div class="list-books">
        
        <div class="book" ng-repeat="book in library">
            <div class="content">
                <div class="image">
                    <img src="{{ book.image }}" alt="{{ book.name }}">
                </div>
                <div class="description">
                    <a href="/" title="{{ book.name }}">
                        <div class="title">{{ book.name }}</div>
                    </a>
                    <div class="author">{{ book.author }}</div>
                    <div class="price">{{ book.price }}</div>
                </div>
            </div>
            <button class="button submit">adicionar ao carrinho</button>
        </div>

    </div>
</section>