<section>
    <div class="cart-list">
        <h2>Meu carrinho</h2>

        <div>
            <!-- Header -->
            <div class="table-cart header">
                <span>Item</span>
                <span>Quantidade</span>
                <span>Valor</span>
            </div>
            
            <!-- Items Content-->
            <div class="table-cart item">
                <div class="description">Livro</div>
                <div class="quantity">3</div>
                <div class="value">R$99,99</div>
            </div>
            <div class="table-cart item">
                <div class="description">Livro</div>
                <div class="quantity">3</div>
                <div class="value">R$99,99</div>
            </div>
            
            <!-- Footer -->
            <div class="table-cart discount">
                <span></span>
                <span>Desconto</span>
                <span>R$19,99</span>
            </div>
            <div class="table-cart footer">
                <span></span>
                <span>Total</span>
                <span>R$179,99</span>
            </div>
        </div>
    </div>
    
</section>